---
import Layout from '../layouts/layout.astro';
---
    <Layout>
      <section>
        <p>『愛にできることはまだあるかい』（三浦透子）</p>
        <a href="https://youtu.be/1QSikvNgdaI" target="_blank" rel="noopener noreferrer">YouTube</a>
      </section>

      <article>
        <p>フィクションと現実を繋げるものが、音楽なのかもしれない。</p>
      </article>
    </Layout>

